<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="list">

      <div class="item item-avatar">
        <img src="img/avatars/josh-dean.jpg">
        <h2>&ldquo;Wish I Was Here&rdquo; Vinyl</h2>
        <p><a href="http://www.amazon.com/Wish-Here-Music-Motion-Picture/dp/B00L47E5SG/ref=sr_1_1?ie=UTF8&qid=1409941320&sr=8-1&keywords=wish+i+was+here+vinyl">$32.98 from Amazon</a></p>
      </div>

      <div class="item item-body">
        <div class="item-heading">
          <h2 class="item-heading-title">&ldquo;Wish I Was Here&rdquo; Vinyl</h2>
          <p class="item-heading-sub"><a href="http://www.amazon.com/Wish-Here-Music-Motion-Picture/dp/B00L47E5SG/ref=sr_1_1?ie=UTF8&qid=1409941320&sr=8-1&keywords=wish+i+was+here+vinyl">$32.98 from Amazon</a></p>
        </div>
        <img class="full-image" src="img/items/wish-i-was-here.jpg">
        <p>
          <b>Josh&rsquo;s Justification:</b><br>
          I know it&rsquo;s on the expensive side for a vinyl, but it&rsquo;s basically the greatest soundtrack of all time. Besides, you&rsquo;ve already vetoed my last three requests&hellip;so you owe me ;)
        </p>
        <div class="notice">
          <p>You&rsquo;ve vetoed Josh three times in a row&mdash;maybe you should throw him a bone this time.</p>
        </div>
        <div class="button-bar">
          <a class="button button-assertive"><i class="icon ion-thumbsdown"></i>&ensp; Veto</a>
          <a class="button button-balanced"><i class="icon ion-thumbsup"></i>&ensp; Approve</a>
        </div>
      </div>

      <!--
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item balanced" href="#">
          <i class="icon ion-thumbsup"></i>
          Approve
        </a>
        <a class="tab-item assertive" href="#">
          <i class="icon ion-thumbsdown"></i>
          Veto
        </a>
      </div>
      -->

    </div>

  </ion-content>
</ion-view>
