<ion-view title="Received Request">
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-avatar">
        <img src="img/avatars/jen-dean.jpg">
        <h2>Amazon Kindle</h2>
        <p>Cost: <a href="http://www.amazon.com/gp/product/B007HCCNJU/ref=kin_comp_dk_k_txt">$69.00</a></p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/items/amazon-kindle.jpg">
        <p>
          <b>Jen&rsquo;s Justification:</b><br>
          Not having to lug a book around will encourage me to read more. Plus, I&rsquo;ll let you borrow it whenever you want.
        </p>
        <div class="notice">
          <p>
            <b>POCKETVETO PRO TIP:</b><br>
            You&rsquo;ve vetoed Jen three times in a row now. Maybe you should give her this one.
          </p>
        </div>
        <div class="button-bar">
          <a class="button button-assertive"><i class="icon ion-thumbsdown"></i>&ensp; Veto</a>
          <a class="button button-balanced"><i class="icon ion-thumbsup"></i>&ensp; Approve</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
