<ion-view title="Received Request">
  <ion-content class="has-header">
    <div class="list">

      <div class="item item-icon-left">
        <i class="icon ion-ios7-stopwatch"></i>
        <h2>Amazon Kindle</h2>
        <p>Cost: <a href="http://www.amazon.com/gp/product/B007HCCNJU/ref=kin_comp_dk_k_txt">$69.00</a></p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/items/amazon-kindle.jpg">
      </div>

      <div class="item item-avatar">
        <img src="img/avatars/jen-dean.jpg">
        <h3>Jen&rsquo;s Justification</h3>
        <p>I&rsquo;ve been wanting to reread &ldquo;The Chronicles of Narnia&rdquo; and I don&rsquo;t want to have to lug around all seven books.</p>
      </div>

      <div class="notice">
        <h5 class="notice-heading">PocketVeto Pro Tip:</h5>
        <p class="notice-content">You&rsquo;ve vetoed Jen three times in a row now. Maybe you should give her this one.</p>
      </div>

      <div class="button-bar padding">
        <a class="button button-assertive"><i class="icon ion-thumbsdown"></i>&ensp; Veto</a>
        <a class="button button-positive"><i class="icon ion-thumbsup"></i>&ensp; Approve</a>
      </div>

    </div>
  </ion-content>
</ion-view>
