<ion-view title="Requests">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <!-- <h1>Search</h1> -->
    <div class="list">
      <a href="#/app/request" class="item item-icon-right">
        Under Review
        <span class="color-demo"></span>
        <i class="icon ion-ios7-stopwatch"></i>
      </a>
      <a href="#/app/request" class="item item-icon-right assertive">
        Vetoed
        <span class="color-demo"></span>
        <i class="icon ion-thumbsdown assertive"></i>
      </a>
      <a href="#/app/request" class="item item-icon-right assertive">
        Vetoed
        <span class="color-demo"></span>
        <i class="icon ion-thumbsdown assertive"></i>
      </a>
      <a href="#/app/request" class="item item-icon-right assertive">
        Vetoed
        <span class="color-demo"></span>
        <i class="icon ion-thumbsdown assertive"></i>
      </a>
      <a href="#/app/request" class="item item-icon-right balanced">
        Passed
        <!-- <a href="http://www.google.com">Buy Now</a> -->
        <span class="color-demo"></span>
        <i class="icon ion-thumbsup balanced"></i>
      </a>
      <a href="#/app/request" class="item item-icon-right balanced">
        Passed
        <span class="color-demo"></span>
        <i class="icon ion-thumbsup balanced"></i>
      </a>
      <a href="#/app/request" class="item item-icon-right assertive">
        Vetoed
        <span class="color-demo"></span>
        <i class="icon ion-thumbsdown assertive"></i>
      </a>
      <a href="#/app/request" class="item item-icon-right balanced">
        Passed
        <span class="color-demo"></span>
        <i class="icon ion-thumbsup balanced"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
