<ion-view title="Send a Request">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <label class="item item-input">
      <span class="input-label">Item Name</span>
      <input type="text">
    </label>
    <label class="item item-button-right">
      Image
      <button class="button button-positive">
        <i class="icon ion-camera"></i>
      </button>
    </label>
    <label class="item item-input">
      <span class="input-label">Price</span>
      <input type="number">
    </label>
    <label class="item item-input">
      <span class="input-label">URL</span>
      <input type="url">
    </label>
    <label class="item item-input">
      <span class="input-label">Vendor</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">Justification</span>
      <input type="text">
    </label>
    <div class="padding">
      <button class="button button-block button-positive">Send to Jen</button>
    </div>
  </ion-content>
</ion-view>
