<ion-view title="Received Request">
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-avatar">
        <img src="img/avatars/josh-dean.jpg">
        <h2>&ldquo;Wish I Was Here&rdquo; Vinyl</h2>
        <p>Cost: <a href="http://www.amazon.com/Wish-Here-Music-Motion-Picture/dp/B00L47E5SG/ref=sr_1_1?ie=UTF8&qid=1409941320&sr=8-1&keywords=wish+i+was+here+vinyl">$32.98</a></p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/items/wish-i-was-here.jpg">
        <p>
          <b>Josh&rsquo;s Justification:</b><br>
          I know it&rsquo;s on the expensive side for a vinyl, but it&rsquo;s basically the greatest soundtrack of all time. Besides, you&rsquo;ve already vetoed my last three requests&hellip;so you owe me ;)
        </p>
        <p>
          <b>Jen&rsquo;s Response:</b><br>
          You&rsquo;re right, I do love that soundtrack. Approved!
        </p>
        <div class="button-bar">
          <a href="http://www.amazon.com/Wish-Here-Music-Motion-Picture/dp/B00L47E5SG/ref=sr_1_1?ie=UTF8&qid=1409941320&sr=8-1&keywords=wish+i+was+here+vinyl" class="button button-balanced">Go Buy It</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
