<ion-view ng-controller="RequestsCtrl" title="Send a Request">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form ng-submit="createRequest(newRequest)">
      <label class="item item-input">
        <span class="input-label">Item Name</span>
        <input type="text" ng-model="newRequest.name" required>
      </label>
      <label class="item item-button-right">
        Image
        <button class="button button-positive" type="button">
          <i class="icon ion-camera"></i>
        </button>
      </label>
      <label class="item item-input">
        <span class="input-label">Price</span>
        <input type="number" ng-model="newRequest.price">
      </label>
      <label class="item item-input">
        <span class="input-label">URL</span>
        <input type="url" ng-model="newRequest.url">
      </label>
      <label class="item item-input">
        <span class="input-label">Justification</span>
        <input type="text" ng-model="newRequest.justification">
      </label>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Send to Jen</button>
      </div>
    </form>
  </ion-content>
</ion-view>
